# ---- Server ----
PORT=3000
SESSION_SECRET=13072010

# ---- Admin-Login (fuer /admin.html) ----
ADMIN_USER=admin
ADMIN_PASSWORD=4.Rtliza.43

# ---- Shop-Infos ----
SHOP_NAME=Elisselling
SHOP_EMAIL=blaid.bots@gmail.com

# ---- E-Mail-Versand (SMTP) ----
# Beispiel fuer Gmail: smtp.gmail.com, Port 587, App-Passwort verwenden (nicht das normale Passwort!)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=blaid.bots@gmail.com
SMTP_PASS=ivkamedqfcghjwrr
FROM_EMAIL=Elisselling <blaid.bots@gmail.com>

# ---- PayPal ----
# Erst mit Sandbox-Zugangsdaten testen (https://developer.paypal.com -> Sandbox App anlegen)
PAYPAL_CLIENT_ID=BAADj68RK68--q0s5-ZyJnmzZEcsHC6eMgShh30R1DWL45yst2gtYwD8dl7C4NSJ1SrDh5qCHFcrNjdcrs
PAYPAL_CLIENT_SECRET=EIRVOBl0HmO41ohTGX_fpt_gdWQuN-klKGM5ZxwaWVcyT1XwS2gNZXApcjH3v4UFspvzdQjo9PY_KR-T
PAYPAL_MODE=sandbox
